name: Update polyfills

permissions:
  contents: write

on:
  workflow_dispatch:
  schedule:
    # Runs at 00:10 UTC every day
    - cron: "10 0 * * *"

concurrency:
  # Ensure this workflow does not run twice at the same time
  group: ${{ github.workflow }}

defaults:
  run:
    shell: bash

jobs:
  update-polyfills:
    name: Update polyfills
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: main
          submodules: true

      - name: Setup pesde
        uses: ewd3v/setup-pesde@v0.1.1
        with:
          pesde_token: ${{ secrets.PESDE_TOKEN || github.token }}

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Fetch upstream
        run: pesde run fetchUpstream

      - name: Install TypeScriptToLua
        run: pesde run install

      - name: Build
        run: pesde run build -- --bundle

      - name: Commit and push changes
        uses: EndBug/add-and-commit@v9
        with:
          message: "sync upstream"
          default_author: github_actions

      - name: Publish package(s)
        run: pesde publish --yes
